<div>
	<div class="animate-show" ng-show="checked"
		style="width: 51%; margin: auto;z-index: 0;">
		<div class="btn-group" uib-dropdown>
			<button id="single-button" type="button" class="btn btn-primary"
				uib-dropdown-toggle>
				{{selected}} <span class="caret"></span>
			</button>
			<ul class="uib-dropdown-menu" role="menu"
				aria-labelledby="single-button">
				<li ng-repeat="pos in players_position"><a
					ng-click="onSelect(pos, $event)" href="#">{{pos}}</a></li>
			</ul>
		</div>
		<span> <input type="text" ng-model="yourName"
			ng-change="onInputChange(yourName)" placeholder="Enter a name here" />
		</span>

	</div>
	<div class="player_header"></div>
	<table id="player_row">
		<tr>
			<td id="empty_left"><div class="canvas_container"></div></td>
			<td ng-repeat="player in players"><span
				style="position: relative;"
				ng-click="$parent.checked = !$parent.checked; checked ? onSelect(players_position[$index]) : ''">
					<div class="canvas_container player_canvas">{{player.name}}</div>
					<span
					ng-show="$parent.checked" class="edit glyphicon glyphicon-edit">
<!-- 					ng-class="{'glyphicon-edit' : hover, 'glyphicon-share' : visible && !hover}"> -->
					</span>

			</span></td>
			<td id="empty_right"><div class="canvas_container"></div></td>
		</tr>
	</table>
</div>