<!doctype html>
<html ng-app="schafkopf">
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Die Krone</title>

<link rel="stylesheet" href="assets/css/bootstrap-3.1.1.min.css">
<link rel="stylesheet" href="assets/css/jumbotron-narrow.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/animation.css">
<!-- <script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script> -->
<script src="assets/libs/angular-1.4.8.min.js"></script>
<script src="assets/libs/angular-animate-1.4.8.min.js"></script>
<script src="assets/libs/ui-bootstrap-tpls-0.14.3.min.js"></script>
<!-- <script src="assets/libs/bootstrap.min.js"></script> -->
<script src="app/module.js"></script>
<script src="app/components/board/initBoardCtrl.js"></script>
<script src="app/components/board/calcBoardCtrl.js"></script>
<script src="app/components/dialog/modalDialogCtrl.js"></script>
<script src="app/shared/board/drawBoardDirective.js"></script>
<script src="app/shared/players/selectPlayerDirective.js"></script>

</head>
<body>
	<div class="container" ng-style="{'width': (width * ((player_count + 2) * 2 )) + 'px'}">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Regeln</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			<h3>Die Krone</h3>
		</div>
		<div class="app_board" ng-controller="ModalDialogCtrl">
		
			<div select-player="players"></div>
			<div ng-controller="InitBoardCtrl">
				<div>
					<table id="header_row" ng-controller="CalcRowCtrl">
						<tr>
							<td ng-repeat="ele in header_row">
								<div class="canvas_container" draw-element="ele"
									ng-include="'assets/static/gridElement.html'"></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="board">
					<table>
						<tr ng-repeat="row in elements">
							<td ng-repeat="col in row">
								<div ng-if="col.type.lastIndexOf('info', 0) !== 0"
									ng-click="open()" class="canvas_container" draw-element="col"
									ng-include="'assets/static/gridElement.html'"></div>
								<div ng-if="col.type.lastIndexOf('info', 0) === 0"
									class="canvas_container" draw-element="col"
									ng-include="'assets/static/gridElement.html'"></div>
							</td>
						</tr>
					</table>
				</div>
				<div>
					<table id="footer_row">
						<tr>
							<td ng-repeat="ele in footer_row">
								<div class="canvas_container" draw-element="ele"
									ng-include="'assets/static/gridElement.html'"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<footer class="footer">
			<p>&copy; 2016 Jojo, Inc.</p>
		</footer>
	</div>
</body>
</html>