/* @font-face { */
/*     font-family: 'glyphicon'; */
/*     src: url('glyphicons-halflings-regular.eot'); IE9 Compat Modes */
/*     src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
/*         url('glyphicons-halflings-regular.woff2') format('woff2'), Super Modern Browsers */
/*         url('glyphicons-halflings-regular.woff') format('woff'), Pretty Modern Browsers */
/*         url('glyphicons-halflings-regular.ttf')  format('truetype'), Safari, Android, iOS */
/*         url('glyphicons-halflings-regular.svg#glyphicon') format('svg'); Legacy iOS */
/* } */

/* @font-face { */
/* font-family: 'icomoon'; */
/* src:url('../fonts/icomoon.eot'); */
/* src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), */
/*     url('../fonts/icomoon.ttf') format('truetype'), */
/*     url('../fonts/icomoon.woff') format('woff'),  */
/*     url('../fonts/icomoon.svg#icomoon') format('svg'); */
/* font-weight: normal; */
/* font-style: normal; */

/* } */

@font-face {
    font-family: 'glyphicon';
    src: url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    background-color: #E8E4D4;
}

table,th,td {
	border: 0;
	padding: 0;
	margin: auto;
	border-collapse: collapse;
}

td div {
	padding: 0;
	margin: 0;
}

#player_row {
	
}

#header_row {
	
}

#footer_row {
	
}

.board {
	overflow-y: scroll;
	height: 400px;
}

.board::-webkit-scrollbar {
	/* This is the magic bit to hide scrollbar but mouse wheel will work*/
	display: none;
}

.canvas_container {
	background: #3F4D59;
	border-radius: 6px;
	/*     overflow: hidden; */
	-webkit-mask-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	/* this fixes the overflow:hidden in Chrome/Opera */
}

.player_canvas {
	    border: 1px solid #A19776;
	    text-align: center;
	    font-family: Comic Sans MS;
	    font-size: 20px;
	    color: #151624;
}

.btn-primary {
	background-color: #3F4D59;
    border-color: #151624;
    color: #fff;
}

.dropdown-menu {
	background-color: rgb(95, 114, 130);
	border-color: #151624;
}

.dropdown-menu>li>a {
	color: #151624;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
    background-color: rgb(95, 114, 130);
    border-color: #151624;
}

.btn-primary.active {
	background-color: #7F3442;
}

.btn-primary[disabled].active {
	background-color: #7F3442;
    border-color: #787A7B;
}

.btn-primary[disabled] {
	background-color: #A7A7A7;
    border-color: #787A7B
}

.edit {
	position: absolute;
	top: -75px;
	padding: 5px;

}

.player_header {
	    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 10px solid aqua;
    z-index: 100;
}
